<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulud Fayl Sistemi</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <body class="home-body">

    <div class="home-page">

        <h1>Bulud Fayl İdarəetmə Sistemi</h1>

        <p>
            Fayllarınızı təhlükəsiz şəkildə yükləyin, idarə edin və endirin.
        </p>

        <div class="buttons">
            <a href="/login">Daxil ol</a>
            <a href="/register">Qeydiyyat</a>
        </div>
    </div>

</body>
</html>