<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud File System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <body class="home-body">

    <div class="home-page">

        <h1>Cloud File Management System</h1>

        <p>
            Securely upload, manage and download your files.
        </p>

        <div class="buttons">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>

</body>
</html>