<!DOCTYPE html>
<html>
<head>
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-page">

<div class="auth-container">

    <h1>Qeydiyyat</h1>

    <form method="POST">

    <input type="text" name="username" placeholder="İstifadəçi adı" required>

    <input
    type="email"
    name="email"
    placeholder="E-poçt"
    required
>

    <input type="password" name="password" placeholder="Şifrə" required>

    <button type="submit">Qeydiyyatdan keç</button>

</form>

</div>

</body>
</html>